@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/forms';

@import "number-banner";
@import "numbers-table";
@import "intro-modal";
@import "ticket";
@import "winners";

button {
  -webkit-appearance: none;
  border: 0;
  background: none;
  -moz-appearance: none;
}

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  background: white;
  right: -50%;
  width: 50%;
  transition: right 0.3s;
  z-index: 1000;
  &-open {
    right: 0;
  }
  &__close {
    position: absolute;
    top: 33px;
    right: 20px;
  }
}

.ticketLoader__cont {
  position: absolute;
  top: 310px;
  right: 10px;
}

.focus-0 {
  &:focus {
    outline: none;
  }
}
